absl-py==1.4.0
aiohttp==3.8.1
aiosignal==1.3.1
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.5
Brotli==1.0.9
cachetools==5.2.0
certifi==2024.8.1
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comm==0.1.3
cryptography==39.0.2
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.16.2
flatbuffers==23.1.4
fqdn==1.5.1
frozenlist==1.3.3
gast==0.4.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.56.0
h11==0.14.0
h5py==3.8.0
httpcore==0.17.1
httpx==0.24.0
idna==3.4
importlib-metadata==6.6.0
ipykernel==6.17.2
ipython==8.15.1
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
json5==0.9.8
jsonpointer==2.3
jsonschema==4.17.3
jsonschema-specifications==1.0.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.0
jupyter-lsp==1.0.0
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.8.2
keras==2.14.0
Keras-Preprocessing==1.1.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mistune==2.0.5
mkl-fft==1.4.0
mkl-random==1.2.0
mkl-service==2.4.0
multidict==6.0.4
nbclient==0.7.1
nbconvert==7.8.0
nbformat==5.8.0
nest-asyncio==1.5.4
notebook==7.5.0
notebook_shim==0.2.3
numpy==1.24.3
oauthlib==3.2.1
opt-einsum==3.3.0
overrides==7.3.1
packaging==23.2
pandocfilters==1.5.0
parso==0.8.3
platformdirs==3.11.0
prometheus_client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.24.0
psutil==5.9.4
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.15.1
PyJWT==2.8.0
pyOpenSSL==23.2.0
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.2
pywin32==306
pywinpty==2.0.7
PyYAML==6.0
pyzmq==25.0.1
qtconsole==5.4.1
QtPy==2.3.0
referencing==0.28.0
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.7.0
rsa==4.9
scipy==1.11.3
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.2
tensorboard==2.14.0
tensorboard-data-server==0.8.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
termcolor==2.3.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.3.2
traitlets==5.9.0
types-python-dateutil==2.8.0.1
typing_extensions==4.7.0
uri-template==1.2.0
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.0
widgetsnbextension==3.6.4
win-inet-pton==1.1.0
